.formulas-list
		{
			margin: 10px 0;
			padding: 0;
			list-style: none;
			font-family: Georgia, serif;
		}
		.formulas-list__item
				{
					margin: 0;
					padding: 10px;
					line-height: 30px;
				}
		.formulas-list__input
				{
					box-sizing: border-box;
					margin: 0 3px;
					width: 30px;
					height: 30px;
					padding: 5px;
					border: 1px solid #999;
					border-radius: 3px;
					vertical-align: top;
					text-align: center;
				}
		.formulas-list__button
				{
					float: right;
					vertical-align: top;
					box-sizing: border-box;
					margin-left: 15px;
					border: 1px solid #999;
					border-radius: 3px;
					height: 30px;
					padding: 0 10px;
					background: #efe;
					line-height: 30px;
					cursor: pointer;
				}